Node-red-API/Node-red-API/bin/Debug/net8.0/Templates/bool/node-red-template.json
{
  "id": "bbf6d7c6.937b78 {{DEVICE-ID}}",
  "label": "Device {{DEVICE-ID}}",
  "nodes": [
    {
      "id": "a8a052eb.958af {{DEVICE-ID}}",
      "type": "mqtt out",
      "name": "Device {{DEVICE-ID}}",
      "topic": "$registries/{{REGISTRY-ID}}/events",
      "qos": "1",
      "retain": "",
      "broker": "66c9fe0f.fa37 {{DEVICE-ID}}",
      "x": 610,
      "y": 140,
      "wires": []
    },
    {
      "id": "dd3eaa26.d18508 {{DEVICE-ID}}",
      "type": "inject",
      "name": "Send Data {{DEVICE-ID}}",
      "repeat": "3",
      "crontab": "",
      "once": false,
      "onceDelay": "",
      "topic": "",
      "payload": "true",
      "payloadType": "bool",
      "x": 110,
      "y": 140,
      "wires": [
        [
          "46feee67.7959b {{DEVICE-ID}}"
        ]
      ]
    },
    {
      "id": "46feee67.7959b {{DEVICE-ID}}",
      "type": "function",
      "name": "payload {{DEVICE-ID}}",
      "func": "var battery = ['true','false']\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"battery\" : battery[counter1]\n      }\n    }\n  )\n};\nreturn msg;\n",
      "outputs": 1,
      "noerr": 0,
      "x": 360,
      "y": 140,
      "wires": [
        [
          "a8a052eb.958af {{DEVICE-ID}}"
        ]
      ]
    }
  ],
  "configs": [
    {
      "id": "66c9fe0f.fa37 {{DEVICE-ID}}",
      "type": "mqtt-broker",
      "name": "{{REGISTRY-ID}}",
      "broker": "mqtt.cloud.yandex.net",
      "port": "8883",
      "tls": "",
      "clientid": "",
      "usetls": true,
      "username": "{{DEVICE-ID}}",
      "password": "tESTbROKER1234",
      "compatmode": false,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
    }
  ]
}
